<div class="container">
	<div class="glass p-4 center-window">
		<div class="col">
			<div class="form">
				<div class="mb-5">
					<div class="h2 text-center"> Let's Fund </div>
				</div>
				<div class="mb-4">
					<input id="benificiary1" class="form-control" name="benificairy1" placeholder="Benificiary-1 hash">
				</div>
				<div class="mb-4">
					<input id="benificiary2" class="form-control" name="benificairy2" placeholder="Benificiary-2 hash">
				</div>
				<div class="text-center">
					<button class="btn btn-primary"> Fund </button>
				</div>
		</div>
		</div>
	</div>
</div>
